* {
    margin: 0;
    padding: 0;
}

/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.box-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 100px;
    margin: auto;
    margin-top: 3em;
    background-color: lightgrey;
}

.blue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 33px;
    background: dodgerblue;
    
}

.pink-one {
    background: violet;
    height: 50px;
    width: 50px;
    margin: 0 10px 0 10px;
}

.pink-two {
    background: violet;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

.pink-three {
    background: violet;
    height: 50px;
    width: 50px;
    margin: 0 40px 0 40px;
}

.boxrl {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 3em;
    width: 90%;
}

.box-left {
    border: 1px solid;
    background: lightgrey;
    width: 900px;
    height: 500px;
}

.box-right {
    border: 1px solid;
    background: lightgrey;
    width: 350px;
    height: 500px;
}


